body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:hsl hsl(180, 19%, 73%);
    background-image: url(bg.jpg);

    background-repeat: no-repeat;
    background-position: center;
    


    
}

h1{
    color:hwb(240 3% 23%)

}

form{
    
    background-color: aliceblue;
    text-align: center;
    max-width: 350px;
    margin:auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px green

}

#textbox{
    width: 50%;
    text-align: center;
    color: hsl(296, 89%, 49%) ;
    font-size: 2em;
    border: 2px solid hsl(0, 0%, 0%);
    border-radius: 20px;
    margin-bottom: 15px;

}

label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    background-color: hsl(84, 92%, 66%);
    margin-top: 15px;
    font-size: 1.5em;
    border: solid hsl(227, 100%, 50%);
    padding: 10px 15 px;
    border-radius: 20px;
    cursor:pointer;
}

button:hover{
    background-color: hsl(107, 95%, 50%);
}

#result{
    font-size: 1.60em;
    font-weight: bold;
}
